@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

@import "tailwindcss";

:root {
  --primary-color: #fffaf7;
  --secondary-color: #ff6d38;
  --accent-color: #7a78ff;
  --heading-color: #333;
  --light-color: #f9f9f9;
  --dark-color: #333;

  --btn-primary-bg: #333;
  --btn-secondary-bg: #e74c3c;
  --btn-accent-bg: #00a652;

  --font-family-heading: 'Amatic SC', sans-serif;
  --border-radius: 8px;
}

body {
  margin: 0;
  color: var(--heading-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-heading);
}
